* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart-img{
    width: 80%;
    height: 150px;
    max-width: 270px;
}


.cart.product-container {
    background-color: rgb(248, 248, 248);
    padding: 0.2em;
    border: solid rgba(0, 0, 0, 0.26) 1px;
    margin-top: 0;
    width: 100vw;
}

.cart-header {
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}
.product-info {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}
.cart-price-count {
    padding-left: 0.5em;
    display: flex;
    flex-direction: column;
}
.cart-product-model  {
    display: inline-flex;
    justify-content: space-evenly;
    padding-right: 0.5em;
}
.cart-product-price {
    text-align: left;
}
.cart-product-count {
text-align: left;

}

.delete-button {
    display: inline-block;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    background-color: red;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}
.delete-button:active {
    transform: scale(1.1);
}
.count-buttons {
flex-direction: column;
display: inline-flex;
}

.count-button-up, .count-button-down {
    display:inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
margin-right: 0.5em;
}
.count-button-up {
    border-radius: 5px;
    background-color: #313131;
    border: 0;
    width: 35px;
    height: 35px;
    margin-bottom: 0.2em;
}
.count-button-down {
    border-radius: 5px;
    background-color: #313131;
    border: 0;
    width: 35px;
    height: 35px;
    margin-bottom: 1em;
}
.container {
      display: flex;
      justify-content: center;
      
  }
  .sum {
    background-color: rgb(236, 236, 236);
    padding: 1em;
      align-self: flex-end;
      font-weight: 600;
      color: black;
      border: solid rgba(0, 0, 0, 0.11) 1px;
  }
  .arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .item-summary {
      padding: 0.5em;
      padding: 0 2em;
      position: relative;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 1em;
  }
 
  .item-summary p {
      text-align: left;
  }
  .sum-p{
      text-align: right;
  }

  .input-fields > input {
      border: solid 1px rgba(0, 0, 0, 0.336);
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      margin: 0.5em;
      height: 1.8em;
      max-width: 12.5em;
  }

  .input-fields > p {
      text-align: left;
      margin: 0.5em;
  }

  .input-card-info {
      text-align: left;
      display: flex;
      flex-direction: row;
      height: 1em;
      margin: 0.5em;
  }
  .input-card-info input {
    border: solid 1px rgba(0, 0, 0, 0.336);
    border-radius: 2px;
    height: 1.8em;
  }
 .input-cvc {
     margin-left: 1.2em;
    width: 3em;
 }
 .cvc-header {
    margin-left: 1.2em;
 }
 .cta-button {
     cursor: pointer;
     border-radius: 5px;
     border:1px solid black;
     font-weight: 700;
     width: 15em;
     height: 4em;
     margin-bottom: 5em;
     justify-self: center;
     margin-top: 5em;
     background-color: rgb(116, 231, 0);
     transition: ease-in-out 0.1s;
 }
 .cta-button:active {
     transform: scale(1.03);
 }

 @media only screen and (min-width: 650px) {
     .cart.product-container {
        max-width: 40vw;
         position: relative;
     }
     .cart-product-model {
         margin-left: 8em;
     }
     .cart-img {
         margin: 1em;
         width: 100px;
         height: 100px;
         position: absolute;
         top: 0;
         left: 0;
     }
     .product-info {
        justify-content: flex-end;
     }
     .cart-price-count {
         margin-right: 1em;
     }
     .item-summary {
        padding: 0 5em;
       justify-content: space-evenly;
     }
  .input-fields {
      display: grid;
      grid-template-columns: 70px 170px 100px 170px;
  }
.input-fields p {
    text-align: right;
}
.input-card-info {
    width: 200px;
    margin-left: 5em;
}
.input-card-info p {
    text-align: left;
}
 }