.footer{
  
  background-color: #3d3d3d;
  text-align:center;
  color:#efefef;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
 
  
}
.socialmediaimg{
  height: 80px;
}
/* }
.img > img{
  
  width: 10%;
  height: auto;
  text-align: right;
  margin-left: 1100px;
  margin-top: 12px;
}
.text > p{
  font-size: 12px;
} 
.img > p{
  
 
  text-align: right;
  margin-right: 80px;
  font-size: 9px;
  
  

} */