.footer{
  background-color: #3d3d3d;
  text-align:center;
  color:#efefef;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
 
  
}
.socialmediaimg{
  height: 80px;
}
.text > p:first-child{
  font-weight: bold;
}


/* Bigger than Phones(laptop / desktop) */
@media only screen and (min-width: 970px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 480px) and (max-width: 600px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .footer{
    grid-template-columns: 1fr;
  }
}

