header{
    background-color:rebeccapurple;
	  display: flex;
	  flex-direction: row;
    justify-content: space-between;
    color: honeydew;
    
  }
  .item{
      display: flex;
      padding: 0.5em;
	    margin: 0px;
  }
  header > h1 {
	margin-left: 100px;

}
.shop {
	padding-right: 450px;
  padding-top: 0.5em;
  display: flex;
}
.contact{
  
margin-left: 40px;
}
.Cartlogo >img{
  width: 40px;
  height: 25px;
}