header{
    background-color:rebeccapurple;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    color: honeydew;
    margin: 0.5em;
  }
  .item{
      display: flex;
      padding: 1em;
	    margin: 0px;
  }
  header > h1 {
	margin-left: 100px;

}
.shop {
	padding-right: 500px;
	padding-top: 0.5em;
}