body{
  background-color:#fefefe;
}
.App {
    min-height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "body"
    "footer";
  }
  header{
    grid-area: header;
  }

  main{
    grid-area: body;
  }
  footer{
    grid-area: footer;  
  }