body{
 
}
.App {
  min-height: 100vh;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
  "header"
  "body"
  "footer";
}

Header{
  grid-area: header;
}
main{
  grid-area: body;
  background-image: url("./images/background.jpg");
  
}
footer{
  grid-area: footer;
}

